google-api-python-client
google-auth-oauthlib
google-auth-httplib2
feedparser
beautifulsoup4
moviepy==1.0.3
imageio-ffmpeg
Pillow
requests
numpy<2.0.0
fonttools
torch --index-url https://download.pytorch.org/whl/cpu
transformers
scipy
piper-tts
onnxruntime
edge-tts
